body{
    background-color: #330055;
background-image: url("https://img.freepik.com/premium-photo/natural-marble-pattern-background_1258-22160.jpg");
background-attachment: fixed;
background-size: contain;
}